
/*General widgets styles*/
QStackedWidget#generalBackground {
    border-image: url(:/image/MainLayout.png) 0 0 0 0 stretch stretch;
/*    padding-top: 20px;*/
    padding-bottom: 20px;
    min-width: 1440px;
    max-height: 1024px;
}

/*Text fiels*/
QLineEdit {
    min-width: 200px;
    min-height: 40px;
    padding: 5px 0px 5px 10px;
    font-size: 16px;
    border: 2px solid purple;
    border-radius: 15px;
    background-color: rgba(152, 128, 203, 1);
    text-align: center;
}

/* Buttons*/
QPushButton {
    min-width: 200px;
    min-height: 40px;
    border-radius: 15px;
    font-size: 20px;
    padding: 0px;
    color: #000000;
    border: 1px solid black;
}

QPushButton:hover {
    color: #fff;
}

/*Pages Buttons*/
QPushButton#enterButton {
    font-size: 20px;
    margin-bottom: 10px;
}

QPushButton#enterButton:hover {
/*    font-weight: 600px;*/
}

QPushButton#registrationButton {
    font-size: 20px;
}

QPushButton#registrationButton:hover {
/*    font-weight: 300px;*/
}

QPushButton#backButton {
    max-width: 200px;
    max-height: 40px;
    border-radius: 15px;
    font-size: 20px;
    padding: 0px;
    color: #000000;
    border: 1px solid black;
    text-align: center;
}

QPushButton#backButton:hover {
    color: #fff;
}

/*Navbar Button*/
QPushButton#mainBtn {
    background-color: rgba(47, 5, 72, 1);
    max-width: 150px;
    max-height: 50px;
}

QPushButton#profileBtn {
    background-color: rgba(47, 5, 72, 1);
    max-width: 150px;
    max-height: 50px;
}

QPushButton#eventsBtn {
    background-color: rgba(47, 5, 72, 1);
    max-width: 150px;
    max-height: 50px;
}

/*Components styles*/
*[cssClass~="clientNavbar"] {
    min-height: 100%;
    background-color: rgba(25, 113, 125, 0.599);
    border: 1px solid rgba(23, 7, 57, 1);
    border-radius: 15px;
}

*[cssClass~="organizerNavbar"] {
    min-height: 100%;
    background-color: rgba(25, 113, 125, 0.599);
    border: 1px solid rgba(23, 7, 57, 1);
    border-radius: 15px;
}
