
/*General widgets styles*/
QStackedWidget#generalBackground {
/*    border-image: url(:/image/MainLayout.png) 0 0 0 0 stretch stretch;*/
/*    background-color: rgba(241, 241, 241, 1);*/
    background-color: #000000;
    padding-top: 0px;
    padding-bottom: 20px;
    min-width: 1440px;
    max-height: 1000px;
}

registration#registration {
    max-height: 900px;
}

/*Button*/
UiButton#settingsFormButton {
    min-width: 200px;
    min-height: 40px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #98cfeb;
}

/*Text fiels*/
QLineEdit {
    min-width: 200px;
    min-height: 40px;
    padding: 5px 0px 5px 0px;
    font-size: 16px;
    border: 2px solid purple;
    border-radius: 15px;
    background-color: rgba(152, 128, 203, 1);
    text-align: center;
}

/* Buttons*/
QPushButton {
    min-width: 200px;
    min-height: 40px;
    border-radius: 15px;
    font-size: 20px;
    padding: 0px;
    color: #ffffff;
    border: 1px solid black;
}

QPushButton:hover {
    color: #9311E2;
}

QPushButton:pressed {
    color: #4C0379;
}

/*Pages Buttons*/
QPushButton#enterButton {
    font-size: 20px;
    max-height: 30px;
/*    margin-bottom: 10px;*/
}

QPushButton#enterButton:hover {
/*    font-weight: 600px;*/
}

registration#registration {
    max-height: 900px;
    max-height: 30px;
}

QPushButton#registrationButton {
    font-size: 20px;
}

QPushButton#registrationButton:hover {
/*    font-weight: 300px;*/
}

QPushButton#backButton {
    border-image: url(:/image/purple-back-arrow.png);
    min-height: 50px;
    min-width: 50px;
    margin-left: 50px;
}

/*Navbar Button*/
QPushButton#mainBtn {
    background-color: none;
    max-width: 150px;
    max-height: 50px;
    color: #D6D6D6;
    font-weight: 300;
    border: none;
}

QPushButton#mainBtn:hover{
    color: #F0F0F0;
    font-weight: 500;
}

QPushButton#mainBtn:pressed {
    font-weight: 900;
    color: #ffffff;
}

QPushButton#profileBtn {
    background-color: none;
    max-width: 150px;
    max-height: 50px;
    color: #D6D6D6;
    font-weight: 300;
    border: none;
}

QPushButton#profileBtn:hover {
    color: #F0F0F0;
    font-weight: 500;
}

QPushButton#profileBtn:pressed {
    font-weight: 900;
    color: #4D5457;
    color: #ffffff;
}

QPushButton#eventsBtn {
    background-color: none;
    max-width: 150px;
    max-height: 50px;
    color: #D6D6D6;
    font-weight: 300;
    border: none;
}

QPushButton#eventsBtn:hover {
    font-weight: 500;
    color: #F0F0F0;
}

QPushButton#eventsBtn:pressed {
    font-weight: 900;
    color: #4D5457;
    color: #ffffff;
}

QPushButton#navbarSvg {
    border-image: url(:/image/back_black_arrow.png) 0 0 0 0;
}

/*General Button*/
*[cssClass~="searchButton"] {
    padding: 10px;
    margin: 10px;
    min-width: 200px;
    max-height: 40px;
    background-color: rgba(152, 128, 203, 1);
    border-radius: 15px;
}

*[cssClass~="deleteEventBtn"] {
    border-image: url(:/image/close-window.png);
    min-width: 50px;
    min-height: 50px;
    border-radius: 25px;
}

*[cssClass~="addButton"] {
/*    border-image: url(:/image/addButton.png);*/
    border-image: url(:/image/newAddButton.png);
    min-width: 50px;
    min-height: 50px;
    border-radius: 25px;
}

*[cssClass~="formEvent"] {
    background-color: #ffffff;
    border-radius: 15;
}

*[cssClass~="profileEdit"] {
    min-width: 800px;
    min-height: 50px;
    background-color: grey;
    border: 1px solid black;
    border-radius: 15px;
}

/*Labels*/
QLabel#eventUserPhoto {
    border-radius: 15px;
}

QLabel#addressTitle {
    max-width: 100px;
    margin-right: 0px;
    padding-right: 0px;
}

QLabel#eventDescription {
    min-width: 500px;
    max-height: 300px;
/*    font-size: 16px;*/
    font-size: 18px;
    font-weight: 600;
/*    background-color: #ffffff;*/
    background-color: transparent;
    /*color: #000000;*/
    color: #ffffff;
    padding: 10px;
    margin-right: 20px;
}

QLabel#header {
    background-color: none;
    color: rgba(6, 6, 6, 1);
    margin-left: 20px;
    font-size: 18px;
}

QLineEdit#value {
    width: 400px;
    color: rgba(6, 6, 6, 1);
    background-color: #fff;
    border-radius: 8px;
    font-size: 18px;
}

*[cssClass~="profileLabel"] {
    padding-top: 20px;
    min-width: 100px;
    max-height: 50px;
    background: none;
    font-size: 24px;
    font-weight: 800;
    color: #000000;
}

/*Components styles*/
*[cssClass~="clientNavbar"] {
    min-width: 1440px;
    background: qlineargradient( x1:0 y1:0, x2:1 y2:0, stop:0 #24B2BB, stop:1 #BF07C2);
/*    background: qlineargradient( x1:0 y1:0, x2:1 y2:0, stop:0 yellow, stop:1 black);*/
    border: 1px solid rgba(23, 7, 57, 1);
    padding-left: 0px;
    margin-left: 0px;
    border-radius: 15px;
}

*[cssClass~="organizerNavbar"] {
    min-width: 1440px;
    border: 1px solid rgba(23, 7, 57, 1);
    border-radius: 15px;
    background: qlineargradient( x1:0 y1:0, x2:1 y2:0, stop:0 #24B2BB, stop:1 #BF07C2);
/*    background: qlineargradient( x1:0 y1:0, x2:1 y2:0, stop:0 yellow, stop:1 black);*/
}

*[cssClass~="eventItem"] {
/*    border-image: url(:/image/event1.png);*/
    border-image: url(:/image/event3.jpg);
    min-width: 1000px;
    max-height: 350px;
}

*[cssClass~="activeButton"] {
    background-color: yellow;
}

*[cssClass~="header"] {
    background-color: none;
    color: #000000;
    margin-left: 20px;
    font-size: 24px;
    font-weight: 700;
}

*[cssClass~="value"] {
    min-width: 600px;
    min-height: 50px;
    color: rgba(6, 6, 6, 1);
    background-color: #fff;
    border-radius: 8px;
    font-size: 18px;
}

*[cssClass~="eventItemUserPhoto"] {
    border-image: url(:/image/Эстетика жизни.jpeg);
}

*[cssClass~="subscribeButton"] {
    max-width: 200px;
    min-height: 50px;
    font-size: 20px;
    font-weight: 700;
    padding: 0px;
    color: rgba(240, 191, 95, 1);
    border: none;
    text-align: center;
    background-color: black;
}

*[cssClass~="subscribeButton"]:hover {
    color: rgba(204, 153, 51, 1);
}

*[cssClass~="subscribeButton"]:pressed {
    color: rgba(164, 115, 18, 1);
}

EventItem#TaskCard {
    min-width: 1000px;
    min-height: 200px;
    background-color: purple;
    border-radius: 15px;
}

*[cssClass~="eventList"] {
    min-width: 1440px;
    min-height: 750px;
    border-radius: 15px;
/*    background-color: rgba(0, 80, 70, 1);*/
    background-color: #000000;
}


/*Other widgets*/
*[cssClass~="comboBoxList"] {
    color: #ffffff;
    font-size: 20px;
    font-weight: 900;
    min-width: 200px;
    min-height: 40px;
}

*[cssClass~="toolBarBackground"] {
    background: none;
    background-color: transparent;
}

*[cssClass~="createEventButton"] {
    max-width: 200px;
    max-height: 50px;
    background-color: #67b357;
    color: #ffffff;
    border-radius: 5px;
    margin-left: 330px;
}

*[cssClass~="createEventButton"]:hover {
    background-color: #318021;
    color: #ffffff;
}

*[cssClass~="createEventButton"]:pressed {
    background-color: #16570a;
}

QComboBox {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    selection-background-color: #111;
    selection-color: yellow;
    color: white;
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #565656, stop: 0.1 #525252, stop: 0.5 #4e4e4e, stop: 0.9 #4a4a4a, stop: 1 #464646);
    border-style: solid;
    border: 1px solid #000000;
    border-radius: 5;
    padding: 1px 0px 1px 20px;
    font-size: 24px;
    min-width: 200px;
    min-height: 50px;
}

QComboBox::drop-down {
     subcontrol-origin: padding;
     subcontrol-position: top right;
     width: 15px;
     color: white;
     border-left-width: 0px;
     border-left-color: darkgray;
     border-left-style: solid; /* just a single line */
     border-top-right-radius: 3px; /* same radius as the QComboBox */
     border-bottom-right-radius: 3px;
     padding-left: 10px;
 }

QComboBox:hover {
    border: 1px solid #ffffff;
    color: white;
}

QComboBox:editable {
    background: red;
    color: pink;
}

QComboBox:on {
    padding-top: 0px;
    padding-left: 0px;
    color: white;
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #2d2d2d, stop: 0.1 #2b2b2b, stop: 0.5 #292929, stop: 0.9 #282828, stop: 1 #252525);
    selection-background-color: #ffaa00;
}

QComboBox:!on {
    color: white;
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #666, stop: 0.1 #555, stop: 0.5 #555, stop: 0.9 #444, stop: 1 #333);
}

/*Input-ы*/
*[cssClass~="settingsInput"] {
    min-width: 200px;
    min-height: 50px;
    color: #000000;
    font-size: 28px;
    font-weight: 800;
    padding-top: 10px;
    background-color: transparent;
}

*[cssClass~="settingsInputRight"] {
    min-width: 200px;
    min-height: 50px;
    color: #000000;
    font-size: 28px;
    font-weight: 800;
    padding-top: 10px;
    background-color: transparent;
}

*[cssClass~="createFormInput"] {
    min-width: 200px;
    margin-top: 10px;
    color: #000000;
    font-size: 20px;
    font-weight: 400;
}

*[cssClassEdit~="settingsInput"] {
    min-width: 350px;
    min-height: 50px;
    background-color: #000000;
    border-radius: 15px;
    border: 1px solid black;
    border-image: url() 50 50;
}

*[cssClassEdit~="settingsInputRight"] {
    min-width: 350px;
    min-height: 50px;
    background-color: #000000;
    border-radius: 15px;
    border: 1px solid black;
}

*[cssClassEdit~="createFormInput"] {
    color: #000000;
    min-height: 30px;
    min-width: 600px;
    font-size: 20px;
    font-weight: 300;
}

QTimeEdit {
    background-color: rgba(152, 128, 203, 1);
    border-style: solid;
    border-width: 4px;
    border-radius: 12px;
    border-color: rgb(100,100,100);
    spacing: 5px;
}

QTimeEdit::drop-down {
    width:50px;
    height:15px;
    subcontrol-position: right top;
    subcontrol-origin: margin;
    background-color: rgba(152, 128, 203, 1);
    border-style: solid;
    border-width: 4px;
    border-radius: 12px;
    border-color: rgb(100,100,100);
    spacing: 5px;
}

QTimeEdit::down-button, QDateEdit::up-button {
    border-style: none;
}

QDateEdit
{
    background-color: rgba(152, 128, 203, 1);
    border-style: solid;
    border-width: 4px;
    border-radius: 12px;
    border-color: rgb(100,100,100);
    spacing: 5px;
}

QDateEdit::drop-down {
    width:50px;
    height:15px;
    subcontrol-position: right top;
    subcontrol-origin: margin;
    background-color: rgba(152, 128, 203, 1);
    border-style: solid;
    border-width: 4px;
    border-radius: 12px;
    border-color: rgb(100,100,100);
    spacing: 5px;
}

QDateEdit::down-button, QDateEdit::up-button {
    border-style: none;
}

QToolBar::item {
    border-radius: 15px;
}*/

QListView#pendingList {
    max-width: 500px; background-color: purple; border-radius: 10px; font-size: 20pt; font-weight: bold;
}

QListView::item {
    background-color: #E74C3C; padding: 10%;
    border: 1px solid #C0392B;
}

QListView::item::hover {
    background-color: #C0392B;
}

QListView#completedList {
    font-size: 20pt; font-weight: bold;
}

QListView::item {
    background-color: #2ECC71; padding: 10%;"
    border: 1px solid #27AE60;
}

QListView::item::hover {
    background-color: #27AE60;
}
